// this module contains the styles of both agent and customer avator

.module-avator {
	position:relative;
	left:-50px;
	top:45px;
	width:32px;
	height:32px;
	font-size:16px;
	font-weight: 600;
	border-radius: 50%;
	box-sizing: $var_border-box;
	color: $white;
	/*float: right;*/
}

.module-avator span:last-child {
	margin-left: -5px;
}

.module-avator-agent {
  //@include modules-avator;
  border:2px solid $accent;
  background: $accent;
}

.module-avator-customer {
 //@include modules-avator;
  border:2px solid $grey;
  background: $grey;
}

.module-avator span {
  position: relative;
  top:4px;
}








