// fonts
$font-family : "Myriad Set Pro", "Lucida Grande", "Helvetica", "Arial","Verdana", "sans-serif";
$baseFont: 13px;

//colors
$black : #000;
$white : #fff;
$gray : #666666;
$light-grey: #ccc;
$accent: #0bacff;
$dark-blue: #007AFF;

//urls
$url_1: url(../imgs/camera_icon_2x.png);

//
$default_margin : 0;
$default_padding : 0;
$default_border : 0;
$default_position : absolute;
$default-bottom : 0;

$var_inherit : inherit;
$var_100_percent : 100%;
$var_border-box : border-box;

//text-align
$text-align: center;